$viewports: (
  'mobile': 568px,
  'pad': 768px,
  'hpad': 1024px,
  'wider': 1440px,
  'widest': 1920px
);

$colors: (
  'gray': rgb(68, 75, 84),
  'text': #4c4545,
  'shallow': #4c4545cb
);

$Serif: 'Noto Serif SC', 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC',
  'Microsoft YaHei', 'WenQuanYi Micro Hei';

$Heiti: 'Microsoft Yahei', 'PingFang SC', 'Hiragino Sans GB', sans-serif;
