$viewports: (
  'mobile': 568px,
  'pad': 768px,
  'hpad': 1024px,
  'wider': 1440px,
  'widest': 1920px
);

$colors: (
  'gray': #444b54,
  'text': #4c4545,
  'shallow': #4c4545cb,
  'white': #fff,
  'black': #333,
  'gwhite': #eee
);
:root {
  --gray: #444b54;
  --text: #4c4545;
  --shallow: #4c4545cb;
  --white: #fff;
  --black: #333;
  --gwhite: #eee;
}
@media (prefers-color-scheme: dark) {
  :root {
    --gray: #dfdbdb;
    --text: #d3cece;
    --shallow: #d3cececb;
    --white: #161716;
    --black: #eee;
    --gwhite: #333;
  }
}
html.dark {
  --gray: #dfdbdb;
  --text: #d3cece;
  --shallow: #d3cececb;
  --white: hsl(120, 2%, 9%);
  --black: #eee;
  --gwhite: #333;
}
$Serif: 'Noto Serif SC', 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC',
  'Microsoft YaHei', 'WenQuanYi Micro Hei';

$Heiti: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
