@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/**
  - 过度
*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/**
  - 全局类
*/
.none {
  display: none;
}
.hide {
  opacity: 0;
  visibility: hidden;
}
.top {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}
.wrap {
  padding: 3rem 12px;
  max-width: 700px;
  margin: auto;
  position: relative;
}
.wrap.is-post {
  header {
    padding: 5rem 2rem;
  }
  article {
    padding: 12px;
  }
}
@media (max-width: map-get($map: $viewports, $key: 'mobile')) {
  .wrap.is-post {
    header {
      padding: 5rem 2rem;
    }
    article {
      padding-left: 24px;
    }
  }
}
@media (max-width: map-get($map: $viewports, $key: 'hpad')) {
  .post-body-wrapper.wrap {
    max-width: 680px;
  }
}
@media (min-width: map-get($map: $viewports, $key: 'wider')) {
  .post-body-wrapper.wrap {
    max-width: 1024px;
  }
}

@media (min-width: map-get($map: $viewports, $key: 'widest')) {
  .post-body-wrapper.wrap {
    max-width: 1280px;
  }
}

/**
 - 动画 (Kico.css)
*/
/* - 淡入淡出 */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-off {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in-top {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-bottom {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* - 淡入缩放 */
@keyframes fade-small-large {
  from {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes fade-large-small {
  from {
    opacity: 1;
    transform: scale(1, 1);
  }
  to {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
}

@keyframes fade-larger-small {
  from {
    opacity: 0;
    transform: scale(1.5, 1.5);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes fade-small-larger {
  from {
    opacity: 1;
    transform: scale(1, 1);
  }
  to {
    opacity: 0;
    transform: scale(1.5, 1.5);
  }
}

@keyframes scale-small-large {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}

@keyframes scale-large-small {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0, 0);
  }
}

/* - 平移 */
@keyframes up-and-down {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(20px);
  }
}

@keyframes left-and-right {
  from {
    transform: translateX(-20px);
  }
  to {
    transform: translateX(20px);
  }
}

/* - 旋转 */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-wrap {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  transition: bottom 0.5s;
  .btn {
    position: absolute;
    transition: transform 0.5s;
    transform: scale(0);
    background-color: var(--white);
    &.show {
      transform: scale(1);
    }
  }

  &.move-top {
    bottom: 12rem;
  }

  .left {
    left: 2rem;
    bottom: 2rem;
  }
  .right {
    right: 2rem;
    bottom: 2rem;

    &.item {
      bottom: 6rem;
    }
  }
}

.small {
  font-size: 80%;
}
.big {
  font-size: 1.2rem;
}
.flex {
  display: flex;

  &.center {
    justify-content: center;
    align-items: center;
  }
  &.lr {
    justify-content: space-between;
    align-items: center;
  }
}
