/** 
  - 样式重置
*/
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}
body,
html {
  color: var(--black);
  background: var(--white);
}
* {
  scroll-behavior: smooth;
}
img,
button {
  border: 0;
}
table {
  border-collapse: collapse;
}

html {
  font: 16px/1.5 'Noto Serif SC', 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC',
    'Microsoft YaHei', 'WenQuanYi Micro Hei';
}

@media (max-width: map-get($map: $viewports, $key: 'mobile')) {
  html {
    font-size: 14px;
  }
}
a {
  color: unset;
  display: inline-block;
  transition: color 0.5s;
  text-decoration: none;

  &:hover,
  &:active {
    color: var(--material-main);
  }
}

section a {
  color: var(--material-main);
  text-decoration: none;
  position: relative;
  &:hover {
    color: var(--material-main);
    text-decoration: none;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 1px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--material-main);
    transition: width 0.5s;
  }
  &:hover::after {
    width: 100%;
  }
}
li {
  list-style: none;
}
svg {
  fill: var(--black);
}
/**
  - 过度
*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/**
  - 全局类
*/
.none {
  display: none;
}
.hide {
  opacity: 0;
  visibility: hidden;
}
.top {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}
.wrap {
  padding: 3rem 12px;
  max-width: 960px;
  margin: auto;
  position: relative;
}

@media (min-width: map-get($map: $viewports, $key: 'wider')) {
  .wrap {
    max-width: 1024px;
  }
}

@media (min-width: map-get($map: $viewports, $key: 'widest')) {
  .wrap {
    max-width: 1280px;
  }
}

/**
 - 动画 (Kico.css)
*/
/* - 淡入淡出 */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-off {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in-top {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-bottom {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* - 淡入缩放 */
@keyframes fade-small-large {
  from {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes fade-large-small {
  from {
    opacity: 1;
    transform: scale(1, 1);
  }
  to {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
}

@keyframes fade-larger-small {
  from {
    opacity: 0;
    transform: scale(1.5, 1.5);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes fade-small-larger {
  from {
    opacity: 1;
    transform: scale(1, 1);
  }
  to {
    opacity: 0;
    transform: scale(1.5, 1.5);
  }
}

@keyframes scale-small-large {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}

@keyframes scale-large-small {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0, 0);
  }
}

/* - 平移 */
@keyframes up-and-down {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(20px);
  }
}

@keyframes left-and-right {
  from {
    transform: translateX(-20px);
  }
  to {
    transform: translateX(20px);
  }
}

/* - 旋转 */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
