/** 
  - 样式重置
*/
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}
body,
html {
  color: var(--black);
  background: var(--white);
}
* {
  scroll-behavior: smooth;
}
img,
button {
  border: 0;
}
table {
  border-collapse: collapse;
}

html {
  font: 16px/1.5 'Noto Serif SC', 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC',
    'Microsoft YaHei', 'WenQuanYi Micro Hei';
}

@media (max-width: map-get($map: $viewports, $key: 'mobile')) {
  html {
    font-size: 14px;
  }
}
a {
  color: unset;
  display: inline-block;
  transition: color 0.5s;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.4s;
  &:hover,
  &:active {
    color: var(--material-main);
  }
}

li {
  list-style: none;
}
svg {
  fill: var(--black);
}
section {
  margin: 1rem 0;
  display: block;
  position: relative;
}
@import './main.scss';
